<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<servlet-name>LawyersInsServlet</servlet-name>
		<servlet-class>
			com.manage.process.LawyersInsServlet
		</servlet-class>
		<init-param>
			<param-name>app-properties</param-name>
			<param-value>Lawyers.properties</param-value>
		</init-param>
		<init-param>
			<param-name>inet_project_id</param-name>
			<param-value>LawyersIns</param-value>
		</init-param>		
		<load-on-startup>1</load-on-startup>
	</servlet>	
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>
			 com.manage.process.FileUploadServlet
		</servlet-class>		
	</servlet>
	    
	<servlet>
		<description>
			JAX-WS endpoint - FinanceAgreementOptionService
		</description>
		<display-name>FinanceAgreementOptionService</display-name>
		<servlet-name>FinanceAgreementOptionService</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FinanceAgreementOptionService</servlet-name>
		<url-pattern>/FinanceAgreementOptionPort</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
			JAX-WS endpoint - PolicyIssueOptionService
		</description>
		<display-name>PolicyIssueOptionService</display-name>
		<servlet-name>PolicyIssueOptionService</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PolicyIssueOptionService</servlet-name>
		<url-pattern>/PolicyIssueOptionPort</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LawyersInsServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>upload</servlet-name>
    	<url-pattern>/upload</url-pattern>
    </servlet-mapping>
	
	<servlet>
         <servlet-name>paypallistener</servlet-name>
         <servlet-class>
                com.manage.process.LAWPayPalIPNListener
         </servlet-class>       
    </servlet>
      
     <servlet-mapping>
           <servlet-name>paypallistener</servlet-name>
           <url-pattern>/lawlistener</url-pattern>
     </servlet-mapping> 
	 
     <!--  
	 <security-constraint>
      <web-resource-collection>
                      <web-resource-name>Automatic SLL Forwarding</web-resource-name>
                      <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>
                      CONFIDENTIAL
        </transport-guarantee>
      </user-data-constraint>
    </security-constraint>
      --> 
	
	<session-config id="LawyersIns">
		<session-timeout>-1</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>lawyersrep.jsp</welcome-file>
	</welcome-file-list>
	
	<resource-ref id="resource1">
	   <description>DB Connection</description>
	   <res-ref-name>jdbc/lawyersinsurancedb</res-ref-name>
	   <res-type>javax.sql.DataSource</res-type>
	   <res-auth>Container</res-auth>
	</resource-ref>
  

	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	
	<servlet>
    <description></description>
    <display-name>ZohoAccessTokenServlet</display-name>
    <servlet-name>ZohoAccessTokenServlet</servlet-name>
    <servlet-class>com.manage.process.ZohoAccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZohoAccessTokenServlet</servlet-name>
    <url-pattern>/ZohoAccessTokenServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AndDoneResponse</display-name>
    <servlet-name>AndDoneResponse</servlet-name>
    <servlet-class>com.manage.process.AndDoneResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndDoneResponse</servlet-name>
    <url-pattern>/AndDoneResponse</url-pattern>
  </servlet-mapping>
  
	</web-app>
